@page
@model RazorPagesToDo.Pages_ToDoTasks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>To Do List</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a>Done?</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDoTask[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDoTask[0].DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDoTask[0].Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ToDoTask) {
        <tr>
            <td>
                <input type="checkbox">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
